*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-size: 100%;
    color: white;
   
  
}

body{
    background-image: url(../imagens/ww2bc.webp);  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
