@mixin button{
    background-color: gray;
    border-radius: 15px;
    width: 100px;
    height: 30px;
    text-align: center;
    border: 5px solid rgb(100, 94, 94);
    &:hover{
        background-color: white;
        color: gray;
        font-size: large;
        border: 3px solid rgb(199, 196, 196);
    }
}