@use 'buttons.scss';

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 10px;
}


nav{
    ul{
        a{
            li{
                @include buttons.button;
                color: white;
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;


            }
        }
    }
}





aside{
    video{
        width: 600px;
        height: 400px;
        padding: 20px 0;
    }
}

.logo{
    margin: 40px 30px 20px 20px;
}