@media (max-width: 768px){
    .container{
        flex-direction: column;
        justify-content: center;
    }

    aside{
        margin:30px 0;
        width: 90%;
    }

    article{
         
        margin:30px 0;
        width: 90%;
    }

   
}

@media(max-width:320px){


    main{
        video{
            width: 80%;
            height: 90%;
        }
    }

   aside{
    width: 100%;
    height: auto;
   }

   article{
    width: 100%;
    height: auto;   
   }

   header{
    nav{
        ul{
            li{
                margin: 0 5px;
                width: 80px;
    height: 30px;
    font-size: small;
    &:hover{
        font-size: medium;
            }
    }
   }
}
}
}


@media(max-width:425px){
     main{
        video{
            width: 95%;
            height: 90%;
        }
    }
}